@import url(http://fonts.googleapis.com/css?family=Fjalla+One&subset=latin,latin-ext);
ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#3D3E3F;border-width:1px;border-style:solid;border-color:#515253 #3D3E3F #2B2B2C #3D3E3F;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
ul#css3menu1 ul{
	visibility:hidden;position:absolute;left:0;top:400%;opacity:0;-moz-transition:all 0.5s;-webkit-transition:opacity 0.5s,top 0.5s;-o-transition:opacity 0.5s,top 0.5s,visibility 0.5s;transition:opacity 0.5s,top 0.5s;-moz-box-shadow:3.5px 3.5px 3px #333;-webkit-box-shadow:3.5px 3.5px 3px #333;box-shadow:3.5px 3.5px 3px #333;background-color:#429ADB;border-width:1px;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;border-style:solid;border-color:#429ADB #357BAF #357BAF #357BAF;padding:6px 2px 8px;}
ul#css3menu1 li:hover>ul{
	visibility:visible;opacity:1;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1>li:hover>ul{
	top:97%;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:2px 8px 2px 6px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 2px;}
ul#css3menu1 ul>li{
	margin:2px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:35px Fjalla One,Trebuchet MS,sans-serif;color:#FFFFFF;text-shadow:#1E4460 0px -1px 1px;cursor:pointer;padding:8px 16px 8px 16px;background-color:#3D3E3F;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));   background-image:linear-gradient(180deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));background-repeat:repeat;background-position:0 0;border-width:1px;border-style:solid;border-color:#3D3E3F;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#00FFFFFF,endColorstr=#08000000)}
ul#css3menu1 ul li{
	float:none;margin:2px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:7px;background-color:#429ADB;background-image:-o-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0)); background-image:-moz-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0));   background-image:linear-gradient(180deg,rgba(84,162,218,1),rgba(65,151,214,0));  background-image:-webkit-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0));background-position:0 0;border-width:1;border-style:solid;border-color:#7BB8E6 #357BAF #357BAF #7BB8E6;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;font:26px Fjalla One,Trebuchet MS,sans-serif;color:#FFFFFF;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF54A2DA,endColorstr=#004197D6)}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#429ADB;border-color:#86BEE8 #5EA9E0 #3D3E3F #5EA9E0;border-style:solid;color:#FFFFFF;text-shadow:#1E4460 0px -1px 1px;background-image:-o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0)); background-image:-moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));   background-image:linear-gradient(180deg,rgba(112,179,228,1),rgba(66,154,219,0));  background-image:-webkit-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));background-position:0 100%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF70B3E4,endColorstr=#00429ADB)}
ul#css3menu1 img{
	border:none;vertical-align:middle;margin-right:8px;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 > li.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:8px 16px 8px 16px;}
ul#css3menu1 > li.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#FFFFFF;-moz-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;-webkit-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;}
ul#css3menu1 > li.switch:hover:before{
	background:#FFFFFF;-moz-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;-webkit-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;}
.c3m-switch-input{
	display:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li > a.pressed{
	background-color:#429ADB;background-image:-o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0)); background-image:-moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));   background-image:linear-gradient(180deg,rgba(112,179,228,1),rgba(66,154,219,0));  background-image:-webkit-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));background-position:0 100%;border-style:solid;border-color:#86BEE8 #5EA9E0 #3D3E3F #5EA9E0;color:#FFFFFF;text-decoration:none;text-shadow:#1E4460 0px -1px 1px;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF70B3E4,endColorstr=#00429ADB)}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li > a.pressed{
	background-color:#3983BB;background-image:-o-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0)); background-image:-moz-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0));   background-image:linear-gradient(180deg,rgba(63,146,208,1),rgba(57,131,187,0));  background-image:-webkit-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0));background-position:0 100%;border-style:solid;border-color:#357BAF #7BB8E6 #7BB8E6 #357BAF;color:#FFFFFF;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF3F92D0,endColorstr=#003983BB)}
ul#css3menu1 li.topmenu>a{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 1025px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}